.carts-container {
    background-color: rgb(124, 124, 124, 0.6);
    border-radius: "15px";
    padding: "20px 40px";
    color: "white";
    max-width: "10000px";
    text-align: "center";
    backdrop-filter:  "blur(5px)";
}

.carts-item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    overflow-y: auto;
    height: 560px;
}