.anim-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.anim-field {
  position: relative;
  background: url("/images/background.jpg");
  background-size: cover;
  border: 2px solid #333;
  border-radius: 20px;
  overflow: hidden;
}

.anim-ball {
  position: absolute;
  border-radius: 50%;
  background-color: lightgray;
  top: 0;
  left: 0;
  transition: background-image 0.3s ease;
}
